[submodule "lib/code-widget"]
	path = lib/code-widget
	url = https://github.com/termite2/code-widget.git
[submodule "lib/debug"]
	path = lib/debug
	url = https://github.com/termite2/debug.git
[submodule "lib/synthesis"]
	path = lib/synthesis
	url = https://github.com/termite2/synthesis.git
[submodule "lib/util"]
	path = lib/util
	url = https://github.com/termite2/util.git
[submodule "lib/tsl"]
	path = lib/tsl
	url = https://github.com/termite2/tsl.git
[submodule "lib/graph-draw"]
	path = lib/graph-draw
	url = https://github.com/termite2/graph-draw.git
[submodule "lib/hast"]
	path = lib/hast
	url = https://github.com/termite2/hast.git
[submodule "lib/bv"]
	path = lib/bv
	url = https://github.com/termite2/bv.git
[submodule "tools/termite-app"]
	path = tools/termite-app
	url = https://github.com/termite2/termite-app.git
[submodule "tools/bdd"]
	path = tools/bdd
	url = https://github.com/termite2/bdd.git
[submodule "lib/bdd"]
	path = lib/bdd
	url = https://github.com/termite2/bdd.git
[submodule "lib/cudd"]
	path = lib/cudd
	url = https://github.com/termite2/cudd.git
[submodule "specs"]
	path = specs
	url = https://github.com/termite2/specs.git
